@import "src/config/styles/vars"

.Results
  padding: 347px 0 100px 0
  background-color: $second-dark
  &__container
    display: flex
    justify-content: space-between

.left
  max-width: 370px
  height: 100%
.right
  max-width: 650px
  display: grid
  grid-template-columns: 1fr 1fr
  column-gap: 73px
  row-gap: 50px
.end
  grid-column-start: 2
