.Price
    padding: 56px 0 100px
    background: rgba(63, 57, 72, 1)

    &__title
        font-size: 52px
        font-weight: 700
        line-height: 62px
        color: #ededf0

    &__wrapper
        display: flex
        justify-content: space-between
        align-items: flex-start
        margin-top: 47px

// Media queries beggining

@media (max-width: 1024px)
    .Price
        padding: 76px 42px 28px

        &__wrapper
            margin-top: 57px        

@media (max-width: 992px)
    .Price
        padding: 49px 75px 78px

        &__title
            font-size: 42px
            line-height: 50px

        &__wrapper
            margin-top: 37px
            flex-direction: column
            justify-content: flex-start
            align-items: center
            gap: 20px 0

@media (max-width: 576px)
    .Price
        padding: 49px 10px 60px

        &__title
            font-size: 24px
            line-height: 29px

        &__wrapper
            margin-top: 24px
