.Price
    padding: 60px 0
    background: rgba(63, 57, 72, 1)

    &__title
        font-size: 52px
        font-weight: 700
        line-height: 1.20
        color: #ededf0

    &__wrapper
        display: flex
        justify-content: space-between
        align-items: flex-start
        margin-top: 60px

    