.member
    padding-bottom: 25px
    background: #545045

    &__header
        display: flex
        justify-content: flex-start
        align-items: flex-end
        gap: 0 20px
        margin-bottom: 30px

    &__icon
        display: block
        height: auto

    &__name
        margin-bottom: 20px
        font-size: 26px
        font-weight: 600
        line-height: 31px
        color: #ededf0

    &__status
        max-width: 286px
        font-size: 14px
        font-weight: 400
        line-height: 17px
        color: #edbb35

    &__content
        padding: 0 50px
        list-style-type: square
        &:last-child
            margin-top: 43px
            padding: 0 35px
            list-style-position: inside

    &__title
        margin-bottom: 5px
        font-size: 14px
        font-weight: 400
        line-height: 22px
        color: #ededf0

    &__description
        margin: 0 0 5px 0
        max-width: 460px
        color: #edbb35
        & span
            font-size: 14px
            font-weight: 400
            line-height: 22px
            color: #ededf0
        &:last-child
            margin: 0
