.Price
    &__card
        display: flex
        flex-direction: column
        padding: 20px
        max-width: 259px
        border: 1px solid #706186
        background-color: transparent
        box-sizing: border-box

    &__header
        margin-bottom: 25px
        & p
            font-size: 19px
            font-weight: 600
            line-height: 27px
            letter-spacing: 2px
            color: #fafafa

    &__type
        display: inline-block
        margin-bottom: 16px
        padding: 6px 14px
        font-size: 13px
        font-weight: 600
        line-height: 16px
        letter-spacing: 2px
        border: 1px solid #fff
        color: #fafafa

    &__discount
        margin-bottom: 1px
        font-size: 26px
        font-weight: 400
        line-height: 32px
        letter-spacing: 2px
        opacity: 0.4

    &__real
        margin-bottom: 12px
        font-size: 25px
        font-weight: 400
        line-height: 30px
        letter-spacing: 2px
        color: #ededf0

    &__startDate
        margin-bottom: 11px
        font-size: 12px
        font-weight: 400
        line-height: 16px
        letter-spacing: 2px
        color: #be97f8

    &__finalDate
        margin-bottom: 19px
        font-size: 12px
        font-weight: 400
        line-height: 14px
        letter-spacing: 2px

    &__description
        display: block
        margin-bottom: 21px
        height: 134px
        font-size: 15px
        font-weight: 400
        line-height: 24px
        color: #bfbfbf

    &__btn
        display: block
        max-width: 217px
        padding: 14px 15px
        font-size: 14px
        font-weight: 600
        line-height: 21.7px
        letter-spacing: 2px
        background-color: #a681f2
        box-sizing: border-box
        white-space: nowrap
        transition: all 0.2s linear

        &:hover
            background-color: lighten(#a681f2, 10%)
            transition: all 0.2s linear

    &__wrap
        display: flex
        flex-direction: column
        margin-top: auto

// Media queries beggining

@media (max-width: 1241px)
    .Price
        &__card
            padding: 21px 10px
            width: 23.415%

        &__header
            & p
                font-size: 17px
                font-weight: 700
                line-height: 24px

        &__discount
            margin-bottom: 3px
            font-size: 24px
            line-height: 29px

        &__real
            margin-bottom: 13px
            font-size: 20px
            line-height: 24px

        &__startDate
            font-size: 12px
            margin-bottom: 8px
            line-height: 14px

        &__finalDate
            margin-bottom: 17px

        &__type
            margin-bottom: 16px
            padding: 6px 20px

        &__description
            margin-bottom: 32px
            height: 106px
            font-size: 13px
            line-height: 21px

        &__btn
            margin: 0 auto
            max-width: 200px
            font-size: 12px
            font-weight: 700
            line-height: 19px


@media (max-width: 976px)
    .Price
        &__card
            position: relative
            padding: 31px 30px
            max-width: 100%
            width: 100%

        &__real
            margin-bottom: 18px

        &__startDate
            position: absolute
            top: 30px
            right: 30px

        &__finalDate
            margin-bottom: 19px

        &__type
            margin-bottom: 32px
            padding: 4px 20px

        &__description
            margin-bottom: 32px
            height: 38px
            font-size: 13px
            line-height: 21px

        &__btn
            margin: 0
            padding: 12px 0
            max-width: 220px
@media (max-width: 576px)
    .Price
        &__card
            padding: 20px 15px
            max-width: 546px

        &__header
            margin-bottom: 20px
            & p
                font-size: 16px
                line-height: 22px

        &__real
            margin-bottom: 8px

        &__startDate
            position: static
            margin-bottom: 18px

        &__type
            margin-bottom: 22px

        &__description
            height: 84px
            font-size: 14px
            line-height: 22px

        &__btn
            padding: 14px 52px
            max-width: 100%
            // font-size: 12px
            // font-weight: 700
            // line-height: 19px
