.TableRow
  padding: 50px 0
  &__flex
    display: flex
    justify-content: space-between
  &__cell
    width: 25%
    padding: 0 20px
.first
  font-weight: 400
  font-size: 14px
  line-height: 150%
  letter-spacing: 0.1em
  text-transform: uppercase
  color: #FFFFFF
  opacity: 0.5
