@import './src/config/styles/vars'

.StudentStory
  padding: 100px 0
  background: $second
.swiper
  margin-top: 60px
  padding-left: 200px

.question
  font-size: 18px
  line-height: 1.55
  font-weight: 800
  text-align: left
.answer
  font-size: 15px
  line-height: 1.55
  font-weight: 400
  color: rgb(199, 191, 210)
  text-align: left
