.blogInfo
    padding: 96px 0 60px
    background: rgba(72, 68, 57, 1)

// Responsive styles

@media (width <= 1170px)
    .blogInfo
        padding: 76px 42px 60px

@media (width <= 768px)
    .blogInfo
        padding: 70px 154px 60px

@media (width <= 576px)
    .blogInfo
        padding: 47px 10px 60px
