@import "../../config/styles/vars"

.ForWho
  padding-top: 100px
  padding-bottom: 311px
  background-color: $second-dark

.article__wrapper
  display: flex
  justify-content: start
  gap: 114px
  margin-top: 70px
.text
  font-size: 26px
  font-weight: 400
  line-height: 1.5

.intersec
  position: absolute
  margin-top: 42px
  width: 1160px
  height: 482px
  background-image: url("./intersec_bg.webp")
  background-repeat: no-repeat
  background-size: cover
  background-position: center center
  background-attachment: fixed
