.list
  display: flex
  gap: 26px

  & li
    color: #fff
    transition: all 0.2s linear
    &:hover
      transition: all 0.2s linear
      color: #fff

@media (max-width: 768px)
  .list
    display: none
