.Nav
  &__list
    display: flex
    gap: 40px
  &__item
    color: #fff
    transition: all 0.2s linear
    &:hover
      transition: all 0.2s linear
.lnk
  padding: 10px 0
@media (max-width: 1471px)
  .Nav
    &__list
      gap: 30px

@media (max-width: 1241px)
  .Nav
    &__item
      font-size: 14px
      line-height: 17px

@media (max-width: 976px)
  .Nav
    display: none

@media (max-width: 768px)
  .Nav
    &__list
      display: none
