.school
    padding: 92px 127px 126px
    background: rgba(62, 43, 46, 1)

    &__title
        margin-bottom: 50px
        color: rgba(237, 237, 240, 0.5)

    &__items
        display: grid
        grid-template-columns: repeat(2,minmax(560px, 50%))
        justify-content: space-between
        gap: 40px
