.Hero
  padding-top: 92px
  padding-bottom: 101px
.container
  max-width: 1190px
  margin: 0 auto 60px auto
  & > p
    font-size: 68px
    font-weight: 800
    line-height: 82px
    text-align: left
