.Hero
  padding-top: 196px
  padding-bottom: 278px
  &__subtitle
    max-width: 900px
    font-style: normal
    font-weight: 800
    font-size: 56px
    line-height: 67px
    color: #F7F7F7
.mark
  color: rgba(115, 138, 218, 0.7)

