@import "src/config/styles/vars"

.StoryCard
  padding: 40px
  border: 1px solid #6C627A
  width: 540px
  overflow: hidden
  background: $second
  position: relative
  cursor: pointer

.bg
  width: max-content
  height: max-content
.student
  display: flex
  gap: 0 32px
  margin-bottom: 35px
  overflow: hidden
.name
  margin-bottom: 7px
  font-weight: 700
  font-size: 28px
  line-height: 120%
  color: #EDEDF0
  &::selection
    background: #9A8BB6
    color: #000
.age
  font-weight: 400
  font-size: 16px
  line-height: 120%
  color: #736B81
  &::selection
    background: #9A8BB6
    color: #000
.photo
  display: block
  width: 100px
  height: 100px
  border-radius: 50%
  pointer-events: none
  background-color: gray
  &__wrapper
    width: max-content
    height: max-content
.result
  font-size: 15px
  font-weight: 700
  text-align: left
  line-height: 1.55
  color: #fff
  &::selection
    background: #9A8BB6
    color: #000
  &__company
    color: rgb(166, 129, 242)

.qa
  margin-top: 20px
  display: flex
  flex-direction: column
  gap: 24px
.more
  background: rgb(108,98,122)
  background: linear-gradient(0deg, $second 40%, rgba(0,0,0,0) 100%)
  width: 100%
  height: 100px
  position: absolute
  bottom: 0
  left: 0
  display: flex
  justify-content: center
  align-items: end
  &__dots
    padding-bottom: 10px
.cross
  position: absolute
  top: 15px
  right: 15px
  background: none
  border: none
  color: #FFF
  font-size: 25px
  line-height: 25px


@media (max-width: 1241px)
  .name
    font-size: 24px
    line-height: 30px
  .age
    font-size: 14px
    line-height: 22px

@media (max-width: 976px)


@media (max-width: 662px)
  .StoryCard
    padding: 30px
  .name
    font-size: 16px
    line-height: 20px
    margin-bottom: 6px
  .age
    font-size: 12px
    line-height: 17px
  .student
    gap: 0 9px
    margin-bottom: 26px
  .photo
    width: 50px
    height: 50px
  .result
    font-size: 18px
    line-height: 1.45
@media (max-width: 564px)
  .StoryCard
    width: 100vw
    height: 100%
