.frontendInterview
    padding: 220px 0 301px
    background: rgba(72, 68, 57, 1)
    color: rgba(237, 237, 240, 1)

    &__title
        margin-bottom: 89px
        max-width: 1020px

    &__laptop
        max-width: 1160px
        min-width: 300px
        width: 100%
        background: url('./image-laptop.jpg') no-repeat center #ccc
        background-size: cover
        background-attachment: fixed
        & button
            position: absolute
            left: 50%
            top: 50%
            display: block
            border: 0
            transform: translate(-50%, -50%)
            background: transparent
            cursor: pointer

    &__playIcon
        display: block
        transition: all 0.3s linear
        &:hover
            transform: scale(1.1)
            transition: all 0.3s linear

    &__begining
        padding: 270px 0 105px
        background: rgba(63, 57, 72, 1)

    &__description
        margin-bottom: 90px
        font-size: 20px
        line-height: 31px
        border: 0
        & p:first-child
            margin-bottom: 32px

    &__situation
        @extend .frontendInterview__description
        margin-bottom: 75px
        & p:first-child
            font-size: 28px
            line-height: 33px

    &__code
        margin-bottom: 75px
        padding: 59px 0 59px 60px
        font-size: 18px
        line-height: 31px

    &__timing
        @extend .frontendInterview__description
        margin-bottom: 0
        & p:first-child
            font-size: 28px
            line-height: 33px

    &__training
        padding: 128px 0 90px
        background: rgba(62, 43, 46, 1)
        &_title
            margin-bottom: 20px

        &_items
            display: flex
            justify-content: space-between
            align-items: flex-start
            flex-wrap: wrap
            gap: 20px 40px

    //Responsive styles

@media (width <= 1170px)
    .frontendInterview
        padding: 196px 42px 236px

        &__title
            margin-bottom: 56px
            max-width: 870px

        &__begining
            padding-top: 105px
            padding: 295px 42px 45px

        &__description
            padding: 0 90px
            font-size: 18px
            line-height: 1.55

        &__situation
            & p:first-child
                font-size: 26px
                line-height: 30px

        &__code
            margin-left: 90px
            margin-right: 90px

        &__training
            padding-right: 32px
            padding-left: 32px
            &_title
                max-width: 322px

            &_items
                gap: 40px

        &__letter
            margin: 0
            max-width: 460px

        &__laptop
            max-height: 400px

@media (width <= 768px)
    .frontendInterview
        padding: 173px 74px 155px

        &__title
            margin-bottom: 45px
            padding-left: 40px
            max-width: 420px

        &__begining
            padding: 295px 74px 45px

        &__description
            padding: 0 84px

        &__code
            padding: 39px 40px 39px
            margin-left: 44px
            margin-right: 44px

        &__training
            padding-top: 65px
            padding-right: 84px
            padding-left: 84px

            &_title
                max-width: 443px
                padding-left: 84px

            &_items
                display: block

        &__letter
            max-width: 100%
            &:nth-child(even)
                margin: 20px 0

        &__laptop
            max-height: 320px

@media (width <= 576px)
    .frontendInterview
        padding: 117px 10px 80px

        &__laptop
            max-height: 180px
            background-attachment: scroll

        &__begining
            padding: 130px 20px 30px

@media (width <= 425px)
    .frontendInterview

        &__title
            margin-bottom: 45px
            padding-left: 0

        &__begining
            padding: 130px 20px 30px

        &__description
            padding: 0 20px
            font-size: 16px
            font-weight: 400
            line-height: 1.45

        &__situation
            & p:first-child
                font-size: 24px
                line-height: 30px

        &__code
            margin: 0 0 75px 0
            padding: 20px

        &__timing
            & p:first-child
                font-size: 24px
                font-weight: 600
                line-height: 28px

        &__training
            padding-top: 45px
            padding-right: 20px
            padding-left: 20px

            &_title
                padding-left: 0
                max-width: 230px

            &_items
                display: block

        &__letter
            margin: 0
            padding-top: 13.5px
            padding-bottom: 13.5px
            max-width: 100%
            max-height: 67px
            &:nth-child(even)
                margin: 20px 0

        &__playIcon
            max-width: 80px

@media (width <= 375px)
    .frontendInterview
        &__letter
            &:nth-child(n + 2)
                padding-top: 6.5px
                padding-bottom: 6.5px
