.NotFoundArticle
  display: flex
  flex-direction: column



.Error
  font-family: 'Fira Code', 'JetBrains Mono', sans-serif
  font-weight: 700
  font-size: 26px
  line-height: 1.6
  margin-bottom: 38px
  display: block
  margin-top: 6px

.btn
  max-width: 200px
  background: #9FB7A5
  padding: 15px 42px
  font-weight: 700
  font-size: 16px
  line-height: 1.5
  text-align: center
  color: #020303
  opacity: 0.8
  transition: .3s ease-in-out
  &:hover
    background-color: darken(#9FB7A5, 10)
    color: #FFF
    transition: .3s ease-in-out

@media (max-width: 826px)
  .NotFoundArticle
    padding-top: 100px

    text-align: center
  .Error
    font-size: 16px
    line-height: 22px
  .btn
    font-size: 14px
    line-height: 16px

@media (max-width: 564px)
  .Error
    font-size: 14px
    line-height: 18px
