.QuestionsRemain
    padding: 56px 0 62px
    background-color: #3f3948

    &__title
        margin-bottom: 28px
        font-size: 68px
        font-weight: 700
        line-height: 82px
        color: #ededf0

    &__subtitle
        margin-bottom: 61px
        font-size: 20px
        font-weight: 600
        line-height: 28px
        color: #ededf0

    &__conditions
        font-size: 12px
        font-weight: 400
        line-height: 19px
        text-align: left
        color: rgba(128, 115, 148, 1)
        & span
            border-bottom: 1px solid rgba(165, 159, 173, 1)

@media (max-width: 320px)
    .QuestionsRemain
        padding: 49px 10px 91px

        &__title
            margin-bottom: 19px
            font-size: 24px
            line-height: 29px
            text-align: left

        &__subtitle
            margin-bottom: 31px
            font-size: 15px
            line-height: 21px
            text-align: left
