.QuestionsRemain
    padding: 306px 0 62px
    background-color: #3f3948

    &__title
        margin-bottom: 28px
        font-size: 68px
        font-weight: 700
        line-height: 82px
        color: #ededf0

    &__subtitle
        margin-bottom: 61px
        font-size: 20px
        font-weight: 600
        line-height: 28px
        color: #ededf0

    &__conditions
        font-size: 12px
        font-weight: 400
        line-height: 19px
        text-align: left
        color: rgba(128, 115, 148, 1)
        & span
            border-bottom: 1px solid rgba(165, 159, 173, 1)

@media (max-width: 1440px)
    .QuestionsRemain
        padding: 306px 42px 98px

        &__title
            margin-bottom: 17px
            font-size: 52px
            line-height: 62px

        &__subtitle
            margin-bottom: 41px
            font-size: 16px
            font-weight: 700
            line-height: 22px

@media (max-width: 1241px)
    .QuestionsRemain
        padding: 296px 42px 98px
@media (max-width: 976px)
    .QuestionsRemain
        padding-top: 287px

@media (max-width: 768px)
    .QuestionsRemain
        padding-top: 287px

        &__title
            font-size: 42px
            font-weight: 700
            line-height: 50px

        &__subtitle
            font-size: 16px
            font-weight: 700
            line-height: 22px

        &__conditions
            margin: 0 auto
            max-width: 360px
            text-align: center

@media (max-width: 662px)
    .QuestionsRemain
        padding-top: 149px

@media (max-width: 576px)
    .QuestionsRemain
        padding: 149px 10px 91px

        &__title
            margin-bottom: 19px
            font-size: 24px
            line-height: 29px

        &__subtitle
            margin-bottom: 31px
            font-size: 15px
            line-height: 21px
