.school
    &__content
        margin-top: 37px
        font-size: 16px
        font-weight: 400
        line-height: 24.8px
        text-align: left
        & div:first-child
            margin-bottom: 25px
        & ul
            list-style-type: disc
            list-style-position: inside