.team
    padding: 126px 127px 126px
    background-color: rgba(72, 68, 57, 1)

    &__title
        margin-bottom: 50px
        color: rgb(144, 138, 122)

    &__wrapper
        display: grid
        grid-template-columns: repeat(2, minmax(560px, 50%))
        gap: 40px
