.Time
    padding: 220px 0 301px
    background: rgba(72, 68, 57, 1)
    color: rgba(237, 237, 240, 1)

    &__title
        margin-bottom: 19px

    &__subtitle
        margin-bottom: 89px
        font-size: 20px
        font-weight: 400
        line-height: 31px
        color: rgba(255, 255, 255, 1)

    &__bcg
        &_time
            background: url('./bcg-time.jpg') no-repeat center/cover #ccc
            background-attachment: fixed

        &_clock
            background: url('./bcg-clock.jpg') no-repeat center/cover #ccc
            background-attachment: fixed

    &__begining
        padding: 345px 0 45px
        background: rgba(63, 57, 72, 1)

    &__opinion
        padding: 27px 0 28px

    &__middle
        padding: 70px 0 281px
        background: rgba(35, 39, 53, 1)

    &__message
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
        gap: 38px 0
        margin: 0 0 114px 0
        padding-left: 100px
        max-width: 952px
        font-size: 20px
        font-weight: 400
        line-height: 31px
        border: 0
        &_last
            display: flex
            flex-direction: column
            justify-content: flex-start
            align-items: flex-start
            gap: 38px 0
            margin: 0 0 91px 0
            padding-left: 100px
            max-width: 952px
            font-size: 20px
            font-weight: 400
            line-height: 31px
            border: 0

    &__code
        margin-bottom: 115px
        & p
            margin-bottom: 30px
            &:last-child
                margin-bottom: 0

    &__conclusion
        padding: 340px 0 120px
        background: rgba(63, 57, 72, 1)

    &__authFooter
        margin-bottom: 0
