.schedule__card
    padding: 21px 33px 29px 20px
    max-width: 280px
    height: 220px
    font-size: 20px
    font-weight: 700
    line-height: 26px
    text-align: left
    background: rgba(88, 65, 69, 1)
    color: rgba(237, 237, 240, 1)
    box-sizing: border-box
    clip-path: polygon(0 0, 89% 0, 100% 14%, 100% 80%, 100% 100%, 20% 100%, 0 100%, 0% 20%)
    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(8)
        visibility: hidden
