.panel
    position: relative
    display: flex
    justify-content: flex-start
    align-items: flex-start
    gap: 0 54px
    padding: 28px 40px 27px
    border-radius: 40px

    &__name
        font-size: 12px
        font-weight: 600
        letter-spacing: 2.5px
        text-transform: uppercase

    &__text
        display: flex
        flex-direction: column
        gap: 25px 0
        font-size: 16px
        font-weight: 400
        line-height: 24.8px

@media (width <= 576px)
    .panel
        flex-direction: column
        gap: 4px 0
        padding: 15px 20px 16px
        border-radius: 20px
        &:nth-child(2n)
            margin-bottom: 30px
        &:last-child
            margin-bottom: 0

        &__name
            font-size: 10px

        &__text
            font-size: 12px
            line-height: 1.45
