.FooterContacts
  padding: 50px 0
  display: flex
  gap: 130px
  align-items: center
.phone__size
  font-size: 62px
  line-height: 74px
  font-weight: 800
.address__info
  margin-top: 39px
  max-width: 443px
  display: flex
  flex-wrap: wrap
  gap: 16px
.inner__right
  display: flex
  flex-direction: column
  gap: 53px


@media (max-width: 1241px)
  .FooterContacts
    padding: 36px 0 24px 0
    gap: 100px
  .phone__size
    font-size: 52px
    line-height: 62px
  .email
    font-size: 42px
    line-height: 50px
  .inner__right
    gap: 43px

@media (max-width: 976px)
  .FooterContacts
    padding: 47px 0 42px 0
    flex-direction: column
    align-items: start
    gap: 38px
  .phone__size
    font-size: 42px
    line-height: 50px
  .inner__right
    gap: 38px
  .address__info
    max-width: 400px
    margin-top: 30px


@media (max-width: 504px)
  .FooterContacts
    gap: 30px
  .address__info
    margin-top: 20px
    max-width: 250px
  .phone__size
    font-size: 30px
    line-height: 36px
  .email
    font-size: 24px
    line-height: 29px


