.Header
  padding-top: 32px
  padding-bottom: 32px
  font-weight: 600

.wrapper
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 95%
  margin: 0 auto

.block
  display: flex
  align-items: center
  gap: 40px

.header__btn
  padding: 15px 25px
  background: rgba(89, 248, 129, 1)
  color: rgba(2, 3, 3, 1)
  transition: 0.2s ease-in-out
  &:hover
    background: rgba(117, 255, 156, 1)
    transition: 0.2s ease-in-out
