.TrainingProgram
    padding: 96px 0 100px
    &__header
        display: flex
        justify-content: space-between
        align-items: flex-start
        margin-bottom: 57px
        padding-bottom: 42px
        border-bottom: 1px solid rgba(89, 111, 95, 1)
        & div
            display: flex
            flex-direction: column
            justify-content: space-between
            max-height: 252px
            & p
                max-width: 188px
                font-size: 26px
                font-weight: 800
                line-height: 31px
                text-align: left
                color: rgba(251, 251, 251, 1)
                &::selection
                    background: #99FEB3

        & span
            color: rgba(125, 143, 130, 1)
            &::selection
                background: #99FEB3

        &_title
            flex-basis: 66.85%
            line-height: 84px
            &::selection
                background: #99FEB3

    &__title
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 29px
        padding: 0 99px
        &::selection
            background: #99FEB3
        & p:first-child
            max-width: 639px
            font-size: 32px
            font-weight: 400
            line-height: 38px
            text-align: left
            &::selection
                background: #99FEB3
        & p:last-child
            align-self: flex-start
            font-size: 32px
            font-weight: 400
            line-height: 38px
            text-align: right
            opacity: 0.1
            &::selection
                background: #99FEB3

    &__tasks
        margin-bottom: 57px
        padding: 0 99px
        &::selection
            background: #99FEB3
        &:last-child
            margin-bottom: 0

    &__wrapper
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        align-items: flex-start

    &__panel
        margin: 30px 0 70px
        &:last-child
            margin-bottom: 0
        &::selection
            background: #99FEB3


.border
    position: relative

    &::before
        content: ''
        display: block
        position: absolute
        top: -9px
        left: 0
        width: 1px
        height: 1796px
        background: rgba(89, 111, 95, 1)

    &::after
        content: ''
        display: block
        position: absolute
        top: 41px
        right: 0
        width: 1px
        height: 1835px
        background: rgba(89, 111, 95, 1)

// Media quaries beginning

@media (max-width: 1241px)
    .container
        max-width: 920px
    .TrainingProgram
        padding: 96px 0 70px

        &__header
            flex-direction: column
            margin-bottom: 57px
            padding-bottom: 35px
            & div
                margin-top: 10px
                flex-direction: row
                align-items: center
                & img
                    display: block
                    max-width: 209px
                    max-height: 153px
                & p
                    max-width: 144px
                    font-size: 20px
                    font-weight: 400
                    line-height: 34px
            &_title
                font-size: 42px
                font-weight: 700
                line-height: 50px
                color: rgba(125, 143, 130, 1)

        &__title
            position: relative
            margin-bottom: 33px
            padding: 0
            & p:first-child
                max-width: 576px
                font-size: 32px
                font-weight: 400
                line-height: 38px

            & p:last-child
                position: absolute
                top: -42px
                right: 0

        &__tasks
            padding: 0

    .border
        position: static
        &::before,
        &::after
            display: none

@media (max-width: 976px)
    .container
        max-width: 620px
    .TrainingProgram
        padding: 77px 0 80px

        &__header
            flex-direction: column
            margin-bottom: 57px
            padding-bottom: 35px
            & div
                margin-top: 10px
                flex-direction: row
                align-items: center
                & img
                    display: block
                    max-width: 209px
                    max-height: 153px
                & p
                    max-width: 144px
                    font-size: 20px
                    font-weight: 400
                    line-height: 34px
            &_title
                font-size: 42px
                font-weight: 700
                line-height: 50px
                color: rgba(125, 143, 130, 1)

        &__title
            position: relative
            margin-bottom: 33px
            padding: 0
            & p:first-child
                max-width: 576px
                font-size: 32px
                font-weight: 400
                line-height: 38px

            & p:last-child
                position: absolute
                top: -42px
                right: 0

        &__tasks
            padding: 0


@media (max-width: 662px)
    .container
        max-width: 90%
    .TrainingProgram
        padding: 50px 10px

        &__header
            flex-direction: column
            margin-bottom: 70px
            padding-bottom: 20px
            & div
                margin-top: 5px
                flex-direction: row
                column-gap: 18px
                & img
                    max-width: 173px
                    height: auto
                & p
                    max-width: 130px
                    font-size: 18px
                    line-height: 31px

            &_title
                font-size: 32px
                line-height: 38px
                text-align: left
                color: rgba(125, 143, 130, 1)

        &__title
            margin-bottom: 22px
            & p:first-child
                font-size: 22px
                line-height: 31px

            & p:last-child
                display: none

        &__tasks
            margin-bottom: 50px

        &__wrapper
            flex-direction: column
            gap: 20px 0
