.TrainingProgram
    padding: 100px 0 126px
    &__header
        display: flex
        justify-content: space-between
        align-items: flex-start
        margin-bottom: 60px
        padding-bottom: 40px
        border-bottom: 1px solid rgba(89, 111, 95, 1)
        & div
            display: flex
            flex-direction: column
            justify-content: space-between
            & p
                font-size: 26px
                font-weight: 800
                line-height: 31px
                text-align: left
                color: rgba(251, 251, 251, 1)

        & span
            color: rgba(125, 143, 130, 1)

    &__tasks
        padding: 0 99px 0 100px
        & div
            margin-bottom: 29px
    &__title
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 29px
        padding: 0 99px 0 100px
        & p:first-child
            max-width: 639px
            font-size: 32px
            font-weight: 400
            line-height: 38px
            text-align: left
        & p:last-child
            align-self: flex-start
            font-size: 32px
            font-weight: 400
            line-height: 38px
            text-align: right
            opacity: 0.1

    &__tasks
        padding: 0 99px 0 100px
        & div
            margin-bottom: 29px
    &__title
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 29px
        padding: 0 99px 0 100px
        & p:first-child
            max-width: 639px
            font-size: 32px
            font-weight: 400
            line-height: 38px
            text-align: left
        & p:last-child
            align-self: flex-start
            font-size: 32px
            font-weight: 400
            line-height: 38px
            text-align: right
            opacity: 0.1

    &__tasks
        padding: 0 99px 0 100px
        box-sizing: border-box

        & h3
            display: inline-block
            margin-right: 282px
            max-width: 639px
            font-size: 32px
            font-weight: 400
            line-height: 38px
            text-align: left
            color: rgba(251, 251, 251, 1)

        & span
            position: absolute
            font-size: 32px
            font-weight: 400
            line-height: 38px
            text-align: right
            color: rgba(251, 251, 251, 0.1)

    &__wrapper
        display: grid
        grid-template-columns: repeat(2, minmax(50%, 580px))

    &__task
        color: rgba(251, 251, 251, 1)
        & p
            margin-bottom: 6px
            font-size: 20px
            font-weight: 400
            line-height: 36px
            text-align: left

        & ul
            padding-left: 40px
            font-size: 14px
            font-weight: 400
            line-height: 25px
            text-align: left
            list-style-type: disc
            opacity: 0.6
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        align-items: flex-start

    &__task
        color: rgba(251, 251, 251, 1)
        & p
            margin-bottom: 6px
            font-size: 20px
            font-weight: 400
            line-height: 36px
            text-align: left

        & ul
            padding-left: 40px
            font-size: 14px
            font-weight: 400
            line-height: 25px
            text-align: left
            list-style-type: disc
            opacity: 0.6
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        align-items: flex-start

    &__panel
        margin: 30px 0 70px
