.Schedule
    padding: 100px 0
    background: rgba(62, 43, 46, 1)
    & span
        color: rgba(146, 115, 120, 1)
    &__cards
        display: grid
        grid-template-columns: repeat(4, minmax(25%, 280px))
        gap: 10px 0
        margin-top: 60px
        color: #000
