.BcgAttachment
    position: absolute
    background-attachment: fixed

    &__container
        position: relative

    &__bcg
        display: block
        max-width: 1160px
        max-height: 482px
        min-height: 180px
        height: auto
        visibility: hidden

@media (width <= 1170px)
    .BcgAttachment
        &__bcg
            width: 100%


