.school
    &__item
        padding: 18.5px 30px
        max-width: 560px
        max-height: 77px
        background: rgba(85, 63, 67, 1)
        overflow: hidden
        box-sizing: border-box
        transition: max-height 0.5s ease-in-out
        &__active
            @extend .school__item
            max-height: 108vh
            transition: max-height 0.5s ease-in-out

    &__btn
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        font-size: 19px
        font-weight: 700
        line-height: 39px
        text-align: left
        background: transparent
        border: 0
        color: #fff
        cursor: pointer
        &:hover .school__cross
            background: rgba(255, 255, 255, 1)
            color: rgba(62, 43, 46, 1)
            transition: 0.5s ease-in-out
        & p:first-child
            font-size: 20px
            font-weight: 700
            line-height: 27px

    &__cross
        min-width: 40px
        min-height: 40px
        font-size: 24px
        font-weight: 100
        border: 0
        border-radius: 50%
        background: rgba(62, 43, 46, 1)
        color: rgba(255, 255, 255, 0.7)
        transform: rotate(-45deg)
        transition: 0.5s ease-in-out
        position: relative
        &__rotate
            @extend .school__cross
            transform: rotate(-90deg)
        &_item
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)

@media (width <= 1170px)
    .school
        &__item
            margin: 0 auto
            &__active
                max-height: 135vh
           
        &__btn
            & p:first-child
                max-width: 336px

@media (width <= 768px)
    .school
        &__item
            &__active
                max-height: 114vh

@media (width <= 576px)
    .school
        &__item
            padding: 6.5px 20px
            max-height: 94px
            &__active
                padding-bottom: 25px
                max-height: 162vh

@media (width <= 375px)
    .school
        &__item
            &__active
                max-height: 174vh

@media (width <= 320px)
    .school
        &__item
            &__active
                max-height: 204vh
