@import "config/styles/reset"
@import "config/styles/vars"

html
  font-size: 16px
  scroll-behavior: smooth
  -ms-overflow-style: none // IE and Edge
  scrollbar-width: none // Firefox

::-webkit-scrollbar
  display: none

body
  margin: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-family: 'JetBrains Mono', monospace

  color: #fff
  background-color: $main

a
  text-decoration: none
  color: inherit

ul
  list-style-type: none

.transparent
  opacity: 0.5
  &::selection
    background: #91A1D9
    color: #000
  &--blue
    color: rgba(81, 87, 107, 1)
    &::selection
      background: #91A1D9
      color: #000

.focus
  color: #738ada
  &::selection
    background: #91A1D9
    color: #000

select
  padding-right: 19px
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  &:focus
    outline: none

input
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  border: 0
  &:focus
    outline: none

.react-tel-input .selected-flag:hover, .react-tel-input .selected-flag:focus
  background-color: transparent

.react-tel-input .flag-dropdown.open .selected-flag
  background: transparent
  border-radius: 0 0 0 0
