.faq
    padding: 92px 127px 126px
    background: rgba(62, 43, 46, 1)

    &__header
        display: flex
        justify-content: flex-start
        align-items: flex-end
        gap: 0 40px
        margin-bottom: 75px

    &__title
        flex-basis: 50%
        color: #fff

    &__ask
        flex-basis: 50%
        & p
            margin-bottom: 25px
            max-width: 351px
            font-size: 20px
            font-weight: 400
            line-height: 32px
            color: #ededf0
            opacity: 0.7

    &__btn
        display: inline-block
        padding: 15px 27px
        height: 54px
        color: #020303
        font-size: 16px
        line-height: 1.55
        font-weight: 600
        background-color: #e97a8c

    &__items
        display: flex
        justify-content: space-between
        align-items: flex-start
        flex-wrap: wrap
        gap: 40px 0

    &__item
        padding: 25px 30px
        height: 104px
        &__active
            padding-bottom: 25px
            height: 100%

        

// Responsive styles

@media (max-width: 425px)
    .faq
        padding: 25px 20px 45px

        &__header
            flex-direction: column
            margin-bottom: 10px

        &__ask
            flex-basis: 50% 0
            margin-top: 10px

        &__items
            gap: 20px 0

        &__item
            padding: 7px 30px
            height: 148px
            &__active
                padding-bottom: 25px
                height: 100%
