.HR
    padding: 220px 0 301px
    background: rgba(72, 68, 57, 1)
    color: rgba(237, 237, 240, 1)

    &__title
        margin-bottom: 89px
        max-width: 1020px

    &__candidate
        padding: 241px 580px
        max-width: 1160px
        background: url('./img/image-hr.jpg') no-repeat center/cover #ccc
        background-attachment: fixed

    &__begining
        padding: 270px 0 105px
        background: rgba(63, 57, 72, 1)

    &__description
        margin-bottom: 60px
        font-size: 20px
        line-height: 31px
        border: 0
        & p:first-child
            margin-bottom: 32px

    &__situation
        display: flex
        flex-direction: column
        gap: 30px 0
        padding: 20px
        font-size: 24px
        line-height: 38px

    &__origins
        padding: 113px 0 210px
        background: rgba(35, 39, 53, 1)

        &_title
            margin-bottom: 45px
            padding-left: 100px
            font-size: 64px
            font-weight: 600
            line-height: 1.23

        &_article
            display: flex
            flex-direction: column
            gap: 32px 0
            margin-bottom: 105px
            padding-left: 100px
            max-width: 860px
            font-size: 20px
            font-weight: 400
            line-height: 31px

        &_structure
            @extend .HR__candidate
            background: url('./img/Group2068.jpg') no-repeat center/cover #ccc
            background-attachment: scroll

    &__position
        padding: 330px 0 60px
        background: rgba(63, 57, 72, 1)
        font-size: 20px
        line-height: 31px

        &_preface
            margin-bottom: 90px
            padding: 8px 0 6px 100px
            max-width: 960px

            & a
                color: rgba(182, 153, 222, 1)

        &_title
            margin-bottom: 45px
            padding: 8px 0 3px 100px
            font-size: 64px
            font-weight: 600
            line-height: 1.23

        &_quontity
            margin-bottom: 60px
            padding: 8px 0 3px 100px
            max-width: 960px

        &_statement
            margin-bottom: 60px
            padding-left: 100px
            max-width: 960px
            & p:first-child
                margin-bottom: 32px

        &_growth
            margin-bottom: 45px
            padding-left: 100px
            max-width: 1060px
            & img
                display: block
                width: 100%
                height: auto

        &_how
            margin-top: 64px
            margin-bottom: 37px
            padding-left: 100px
            font-size: 28px
            font-weight: 600
            line-height: 33px

        &_problem
            padding-left: 100px
            max-width: 960px

    &__blog
        margin-bottom: 45px
        padding: 60px

        & p
            font-size: 18px
            font-weight: 600
            line-height: 1.6

    &__stuff
        padding: 113px 0 60px
        background: rgba(35, 39, 53, 1)

        &_title
            margin-bottom: 33px
            padding-left: 100px
            font-size: 64px
            font-weight: 600
            line-height: 1.23

        &_subtitle
            margin-bottom: 60px
            padding: 8px 0 6px 100px
            max-width: 960px

        &_rating,
        &_expiarence
            margin-bottom: 45px
            padding-left: 100px
            max-width: 1060px
            & img
                display: block
                width: 100%
                height: auto

        &_text
            margin-bottom: 60px
            padding-left: 100px
            max-width: 960px
            & p:first-child
                margin-bottom: 32px

        &_expiarence
            & p
                margin-top: 45px
                margin-bottom: 60px

    &__terms
        padding: 105px 0 60px
        background: rgba(63, 57, 72, 1)
        &_title
            margin-bottom: 33px
            padding-left: 100px
            font-size: 64px
            font-weight: 600
            line-height: 1.23

        &_subtitle
            margin-bottom: 60px
            padding: 8px 0 6px 100px
            max-width: 960px

        &_salary
            margin-bottom: 45px
            padding-left: 100px
            max-width: 1060px
            & p
                margin-bottom: 45px
            & img
                display: block
                width: 100%
                height: auto

        &_description
            padding-left: 100px
            max-width: 960px

            & p:nth-child(even)
                margin: 30px 0

    &__conclution
        padding: 105px 0
        background: rgba(35, 39, 53, 1)

        &_title
            margin-bottom: 33px
            padding-left: 100px
            font-size: 64px
            font-weight: 600
            line-height: 1.23

        &_description
            padding-left: 100px
            max-width: 960px

            & p:nth-child(even)
                margin: 30px 0
                

        
            